{% extends 'base.html' %}
{% load static %}
{% block content %}

            <!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area" xmlns="http://www.w3.org/1999/html">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Checkout Area Strat-->
            <div class="checkout-area pt-60 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <form action="/billings" method = "POST">
                            {% csrf_token %}
                                <h4><font color = "black">{{mess}}</font></h4>
                                <div class="checkbox-form">
                                    <h3>Billing Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>First Name <span class="required">*</span></label>
                                                <input name ="firstname" placeholder="" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Last Name <span class="required">*</span></label>
                                                <input name ="lastname" placeholder="" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Address <span class="required">*</span></label>
                                                <input name ="address" placeholder="Street address" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Town / City <span class="required">*</span></label>
                                                <input name ="city" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>State / County <span class="required">*</span></label>
                                                <input name ="state" placeholder="" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Postcode / Zip <span class="required">*</span></label>
                                                <input name ="zipp" placeholder="" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Email Address <span class="required">*</span></label>
                                                <input name ="email" placeholder="" type="email" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Phone  <span class="required">*</span></label>
                                                <input name="phone" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                             <div class="order-button-payment">
                                            <input value="place order" type="submit">
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="your-order">
                                <h3>Your order</h3>
                                <div class="your-order-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="cart-product-name">Product</th>
                                                <th class="cart-product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for check in my_check %}
                                            <tr class="cart_item">
                                              <td class="cart-product-name">{{check.items.name}}<strong class="product-quantity"> × {{check.quantity}}</strong></td>
                                              <td class="cart-product-total"><span class="amount">{{check.total}}</span></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td><strong><span class="amount">{{all_total}}</span></strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <div id="paypal-button-container">
                                </div>

                                    <script src="https://www.paypal.com/sdk/js?client-id=AbvgTjVdtFxTdpWc8-0Y0DWzBpSPHFIK-AyEyog1639b-kcuDVh7jjkDSUHl8AQCPJtVGVNHQo_jai-m&currency=USD"></script>

                                    <script>
     paypal.Buttons({
    style: {
      shape: 'rect',
      color: 'gold',
      layout: 'vertical',
      label: 'paypal',
    },

    createOrder: function(data, actions) {
      // This fnc sets up the details of the transaction, including the amount
      return actions.order.create({
        purchase_units:[
          {"description":"My Product Name",
           "amount":{
             "currency_code":"USD",
             "value":"{{all_total}}",
             }
          }
        ]
      });
    },

    onApprove: function(data, actions) {
      return actions.order.capture().then(function(orderData) {
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        var transaction = orderData.purchase_units[0].payments.captures[0];
        alert('Transaction completed by ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
      });
    },
     onError: function (err) {
        console.log('Something went wrong', err);
    }

  }).render('#paypal-button-container');

                                    </script>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Checkout Area End-->


   {% endblock %}

