{% extends 'base.html' %}
{% load static %}
{% block content %}
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Shopping Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Shopping Cart Area Strat-->
            <div class="Shopping-cart-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="li-product-remove">remove</th>
                                                <th class="li-product-thumbnail">images</th>
                                                <th class="cart-product-name">Product</th>
                                                <th class="li-product-price">Unit Price</th>
                                                <th class="li-product-quantity">Quantity</th>
                                                <th class="li-product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for cart in my_carts %}
                                            <tr>
                                                <td class="li-product-remove"><a href="/delete_cart/{{cart.slug}}"><i class="fa fa-times"></i></a></td>
                                                <td class="li-product-thumbnail"><img src="{{cart.items.image.url}}" alt="Li's Product Image" height="100" width="100"></td>
                                                <td class="li-product-name">{{cart.items.name}}</td>
                                                <td class="li-product-price">
                                                    {% if cart.items.discounted_price > 0 %}
                                                    <span class="amount">$ {{cart.items.discounted_price}}</span>
                                                {% else %}
                                                <span class="amount">$ {{cart.items.price}} </span></td>
                                                {% endif %}
                                                <td class="quantity">
                                                    <label>Quantity</label>
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" value="{{cart.quantity}}" type="text">
                                                        <a href="/reduce_cart/{{cart.slug}}"> <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div></a>
                                                        <a href="/cart/{{cart.slug}}"> <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div></a>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal"><span class="amount">{{cart.total}}</span></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="coupon-all">
                                            <div class="coupon">
                                                <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                                <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                            </div>
                                            <div class="coupon2">
                                                <input class="button" name="update_cart" value="Update cart" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 ml-auto">
                                        <div class="cart-page-total">
                                            <h2>Cart totals</h2>
                                            <ul>
                                                <li>Subtotal <span>${{all_total}}</span></li>
                                                <li>Shipping <span>${{shipping}}</span></li>
                                                <li>Total <span>${{grand_total}}</span></li>
                                            </ul>
                                            <a href="#">Proceed to checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Shopping Cart Area End-->
{% endblock %}
