{% extends 'base.html' %}
{% load static %}
{% block content %}
           <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Completed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Login Content Area -->
<div class="thank-you-area">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="inner_complated">
                            <center><div class="img_cmpted"><img src="static/images/4.jpg" alt="" height="200px"></div></center>
                            <center><p class="dsc_cmpted">Thank you for ordering in our store. You will receive a confirmation
                                email shortly.</p></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--<br>-->
<!--<center><h6>Thank you for ordering in our store. You will receive a confirmation email shortly.</h6></center>-->

<!--<br>-->
{% endblock %}